{ 
  "extends" : [ 
    // ... 
  ] ,
  "plugins": ["react"],
  "settings": {
    "import/resolver": "webpack"
  },
  "rules": {
    "react/jsx-uses-react": "error",
    "react/jsx-uses-vars": "error"
  }
}