.profile {
  text-align: center;
  padding-top: 76px;
}

.profile__info {
  padding-top: 123px;
  max-width: 410px;
  margin: 0 auto;
}

.profile__title {
  margin: 0;
  color: #fff;
  text-align: center;
  font-size: 24px;
  font-weight: 500;
}

.profile__info-row {
  display: flex;
  justify-content: space-between;
  margin-bottom: 34px;
}

.profile__info-label,
.profile__info-value {
  color: #fff;
  font-size: 11px;
  font-weight: 500;
  line-height: normal;
}

.profile__info-value {
  text-align: right;
  font-weight: 400;
}

.profile__actions {
  margin-top: 220px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.profile__action-button {
  max-width: 410px;
  margin: 0 auto;
  border: none;
  background-color: inherit;
  color: #fff;
  text-align: center;
  font-size: 13px;
  font-weight: 400;
  line-height: normal;
}

.profile__action-button:last-child {
  color: #ee3465;
  margin-top: -3px;
}

.profile__action-button:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media screen and (max-width: 895px) {
  .profile {
    padding-top: 237px;
  }

  .profile__info {
    padding-top: 96px;
  }

  .profile__actions {
    margin-top: 209px;
  }
}

@media screen and (max-width: 450px) {
  .profile {
    padding-top: 71px;
  }

  .profile__action-button {
    font-size: 12px;
  }

  .profile__action-button:last-child {
    margin-top: -2px;
  }

  .profile__actions {
    margin-top: 378px;
    margin-bottom: 40px;
  }

  .profile__info {
    padding-top: 80px;
    max-width: 260px;
  }
}
