.about__deadline {
  display: flex;
  width: 100%;
  max-height: 36px;
}

.about__deadline-left {
  flex: 1;
  width: 20%;
  background-color: #3ddc84;
  display: flex; /* Добавляем flex */
  flex-direction: column; /* Устанавливаем направление flex-контейнера */
  justify-content: center; /* Выравнивание по вертикали */
  align-items: center; /* Выравнивание по горизонтали */
}

.about__deadline-right {
  flex: 4;
  background-color: #303030;
  display: flex; /* Добавляем flex */
  justify-content: center; /* Выравнивание по вертикали */
  align-items: center; /* Выравнивание по горизонтали */
}
.about__deadline-right-text {
  text-decoration: #fff;
}

.about__deadline-text {
  align-items: center; /* Выравнивание по вертикали */
  justify-content: center; /* Выравнивание по горизонтали */
}

.about__deadline-components {
  display: flex;
  width: 100%;
}

.about__deadline-left-backend {
  flex: 1;
  width: 20%;
  display: flex; /* Добавляем flex */
  flex-direction: column; /* Устанавливаем направление flex-контейнера */
  justify-content: center; /* Выравнивание по вертикали */
  align-items: center; /* Выравнивание по горизонтали */
}

.about__deadline-right-frontend {
  flex: 4;
  display: flex; /* Добавляем flex */
  justify-content: center; /* Выравнивание по вертикали */
  align-items: center; /* Выравнивание по горизонтали */
}

.about__deadline-text {
  align-items: center; /* Выравнивание по вертикали */
  justify-content: center; /* Выравнивание по горизонтали */
}
