.portfolio__container {
  padding-bottom: 202px;
  margin-left: 70px;
  margin-right: 70px;
}

.portfolio__title {
  padding-bottom: 8px;
  margin: 0;
  color: #a0a0a0;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
}

.portfolio__sites {
  padding-top: 23px;
  display: flex;
  flex-direction: column;
}

.portfolio__site {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 18px 0 19px 0;
  border-bottom: 1px solid #e6e6e6;
}

.portfolio__site:last-child {
  padding-top: 21px;
  border-bottom: none;
  padding-bottom: 0;
}

.portfolio__site-link {
  padding: 0;
  margin: 0;
  text-decoration: none;
}

.portfolio__site-link:hover {
  opacity: 0.8;
}

.portfolio__site-text {
  color: #ffffff;
  font-size: 30px;
  font-style: normal;
  font-weight: 400;
  line-height: 50px; /* 166.667% */
  letter-spacing: -1.2px;
}

.portfolio__site-link img {
  padding: 10px 5px 0 0;
  margin: 0;
  width: 19px;
}

@media screen and (max-width: 824px) {
  .portfolio__container {
    margin: 0 50px 1px 50px;
    padding-bottom: 167px;
  }

  .portfolio__site-text {
    font-size: 28px;
    letter-spacing: -1.12px;
  }

  .portfolio__site {
    padding: 18px 0 20px 0;
  }
}

@media screen and (max-width: 760px) {
  .portfolio__container {
    margin: 0 14px;
    padding-bottom: 148px;
  }

  .portfolio__title {
    padding-bottom: 8px;
    font-size: 14px;
  }

  .portfolio__site-text {
    font-size: 18px;
    line-height: 28px;
    letter-spacing: -0.72px;
  }

  .portfolio__sites {
    padding-top: 13px;
  }

  .portfolio__site {
    padding: 20px 0 18px 0;
  }

  .portfolio__site-link img {
    padding: 0 4px 2px 0;
    margin-top: 1px;
    margin: 0;
    width: 11px;
  }
}
