.nav-tab {
  background-color: #272727;
  height: 66px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-tab__container {
  margin: -3px 0 0;
  padding: 0;
  display: flex;
  gap: 40px;
}

.nav-tab__link {
  color: #fff;
  cursor: pointer;
  font-size: 13px;
  line-height: 16px;
  text-decoration-line: underline;
  transition: opacity 0.3s ease;
}

.nav-tab__list-item {
  list-style-type: none;
}

.nav-tab__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 824px) {
  .nav-tab__container {
    margin: 0;
    gap: 42px;
  }

  .nav-tab__link {
    font-size: 13px;
    line-height: 16px;
    font-style: normal;
    font-weight: 500;
  }
}

@media screen and (max-width: 760px) {
  .nav-tab__container {
    margin-top: -4px;
    gap: 25px;
  }

  .nav-tab__link {
    font-size: 11px;
  }
}
