.header {
  background-color: #073042;
  max-width: 1280px;
  width: 100%;
}

.header_login {
  background-color: #202020;
}

.header__container {
  padding: 0 70px 0 70px;
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  gap: 30px;
}

.header__btn {
  margin: 0;
  padding: 7px 20px;
  border: none;
  background-color: transparent;
  color: #fff;
  cursor: pointer;
  text-decoration: none;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 16px;
}

.header__left {
  display: flex;
  align-items: center;
}

.header__btn_movies {
  font-size: 13px;
  font-style: normal;
  line-height: 18px; /* 138.462% */
  margin-left: 44px;
  padding: 0;
}

.header__btn_saved-movies {
  font-size: 13px;
  font-style: normal;
  line-height: 18px; /* 138.462% */
  margin-left: 16px;
  padding: 0;
}

.header__logo {
  margin-top: 3px;
}

.header__logo:hover {
  opacity: 0.8;
}

.header__btn:hover {
  opacity: 0.8;
}

.header__btn_login {
  color: #000;
  border-radius: 3px;
  background: #3ddc84;
}

.header__btn_register {
  color: #fff;
  margin-right: -20px;
}

.header__account-icon {
  margin-right: -14px;
  margin-top: 5px;
}

.header__account-icon:hover {
  opacity: 0.8;
}

@media screen and (max-width: 824px) {
  .header__container {
    padding: 22px 30px;
  }
}

@media screen and (max-width: 760px) {
  .header__container {
    padding: 23px 14px;
  }

  .header__btn {
    padding: 4px 12px;
    font-size: 10px;
    font-weight: 500;
  }

  .header__btn_register {
    margin-right: -27px;
  }
}
