.movie-card {
  background-color: #222;
  border-radius: 6px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: center;
  max-width: 364px;
  height: 281px;
}

.movie-card img {
  width: 100%;
}

.movie-card__info {
  margin-top: 10px;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
  margin-left: 17px;
  /* margin-right: 16px; */
  /* max-width: 332px; */
  width: 100%;
}

.movie-card__title {
  margin: 0;
  padding: 0;
  margin-bottom: 8px;
  color: #fff;
  font-family: Inter;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.movie-card__like-button {
  color: #424242;
  background-color: transparent;
  border: none;
  cursor: pointer;
  margin: 0;
  padding: 0;
}

.movie-card__like-button img {
  width: 30px;
  margin-right: 33px;
}

.movie-card__like-button:hover {
  opacity: 0.8;
}

.movie-card__duration {
  margin: 0;
  padding: 0;
  margin-top: 3px;
  margin-left: 16px;
  color: #8b8b8b;
  font-size: 11px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
@media screen and (max-width: 895px) {
  .movie-card {
    width: 339px;
    height: 262px;
  }
}

@media screen and (max-width: 400px) {
  .movie-card {
    max-height: 237px;
  }

  .movie-card__title {
    font-size: 12px;
  }

  .movie-card__info {
    margin-left: 14px;
  }

  .movie-card__like-button img {
    width: 30px;
    margin-right: 24px;
  }

  .movie-card__duration {
    font-size: 10px;
    margin-top: 0;
    margin-left: 14px;
  }
}
