.footer {
  background-color: #202020;
  padding-bottom: 20px;
  color: #fff;
}

.footer__title {
  margin: 0;
  color: #8b8b8b;
  text-align: center;
  font-feature-settings: "clig" off, "liga" off;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding-bottom: 21px;
  border-bottom: 1px solid #424242;
}

.footer__copyright {
  margin: 0;
  font-size: 13px;
}

.footer__container {
  margin-left: 70px;
  margin-right: 70px;
}

.footer__block {
  padding-top: 21px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer__nav {
  display: flex;
  gap: 20px;
}

.footer__link {
  margin: 0;
  font-size: 13px;
  color: #fff;
  text-decoration: none;
}

.footer__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 824px) {
  .footer__container {
    margin: 0 30px;
  }
}

@media screen and (max-width: 760px) {
  .footer__container {
    margin: 0 10px;
  }

  .footer__title,
  .footer__link {
    font-size: 12px;
  }

  .footer__block {
    padding-top: 31px;
    flex-direction: column-reverse;
    align-items: center;
  }

  .footer__nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 13px;
    margin-bottom: 31px;
  }

  .footer__copyright {
    font-size: 12px;
    margin-right: 1px;
  }
}
