.promo {
  max-width: 1280px;
  width: 100%;
  height: 519px;
  background-color: #073042;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  position: relative; /* Добавляем позиционирование */
}

.promo__container {
  text-align: center;
  margin-top: -34px;
}

.promo__logo {
  margin-top: -24px;
  max-width: 320px;
  width: 100%;
  max-height: 320px;
  height: auto;
  position: absolute; /* Позиционируем логотип абсолютно */
  top: 50%; /* Выравниваем по вертикали на 50% высоты блока */
  left: 50%; /* Выравниваем по горизонтали на 50% ширины блока */
  transform: translate(
    -50%,
    -50%
  ); /* Сдвигаем на -50% от собственных размеров, чтобы центрировать */
  z-index: 1; /* Помещаем логотип на передний план */
}

.promo__title {
  width: 730px;
  color: #fff;
  text-align: center;
  font-family: Inter;
  font-size: 50px;
  font-style: normal;
  font-weight: 400;
  line-height: 58px; /* 116% */
  letter-spacing: -2px;
  margin-top: 20px;
}
